.adminHeading{
    margin-left: 36%;
    float: left;
}

.container{
    height: 110px;
}
.adminheader{
    margin-top: 2%;
    width: 1200px;
}
.statusHeader{
    margin-left: 2%;
    padding: 2%;
}
.usermanagement-title{
    margin-top: 2%;
    text-align: center;
    margin-left: 9%;
}

.removeUserHeadingContainer{
    width: 100%;
    height: 2%;
}
.memberList{
    float: right;
}
.adminList{
    float: left;
}

.logbookAdmin{
    padding: 1%;
    float: left;
    width: 840px;
    float: left;
}
.StatusContainer{

}
.usermgmt_container{
    margin-left: 10%;
    margin-top: 4%;
}

.usermanagementbutton{
    float: right;
    margin-right: 2%;
}

.adminSignout{
    float: right;
}
.register{
    width: 75%;
}

.registerPage{
    width: 620px;
    float: left;
}
.removeMemberPage{
    width: 700px;
    float: right;
}

.removeUserHeading{
    text-align: center;
}
.dashboardButtonForUM{
    float: right;
    margin-right: 5%;
}

.AList{
    width: 350px;
    height: 450px;
    overflow: auto;
}
.adminListHeader{
    text-align: center;
}
.memberListHeader{
    text-align: center;
}
.listUsernameAdmin{
    padding: 15%;
}

.listRemoveAdmin{
    width: 385px;
    height: 100px;
}
.removeAdmin{
    margin-left: 80%;
    padding: 7%;
}
.MList{
    width: 350px;
    height: 450px;
    overflow: auto;
}
.tableBoat{
    float: left;
    width: 380px;
    margin-left: 2%;
}
.tableDestination{
    float: right;
    width: 380px;
    margin-right: 8%;
}
.BoatDetailsHeader{
    margin-left: 1%;
    padding: 2%;
    text-align: center;
}
.containerBoat{
    width: 900px;
    height: 450px;
}
.managementContainer{
    float: right;
    padding: 1%;
    margin-top: 1%;
    width: 600px;
    height: 350px;
}

.boatManagement{
    float: left;
}

.destinationManagement{
    float: right;
}
