.login{
    margin-top: 7%;
    margin-left: 20%;
}

.form-control{
    width: 50%;;
}

.dashboardButton{
    margin-top: -5%;
    margin-right: 4%;
    float: right;
}

.loginContainer{
    width: 1300px;
    height: 500px;
}